 <header>
        <div class="menu-bar">

            <p class="menu-logo">
                <a href="#"><img src="/assets/img/logo2.jpg" alt="logo"></a>
                <span id="btn-show" class="icon-list-bullet"></span>
            </p>

        </div>
        <div class="logo">
            <a href="#"><img src="/assets/img/logo2.jpg" alt="logo"></a>
        </div>
        <nav id="nav-menu" class="general-list">
            <ul>
                <li><a href="#" id="sign-up">Registrarse</a></li>
                <li><a href="#" id="sign-in">Iniciar sesion</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Contactos</a></li>
                <li><a href="#">$Ofertas</a></li>
            </ul>
        </nav>
</header>