<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/estilos-nav.css" >
    <link rel="stylesheet" href="/CSS/fonts.css">
    <link rel="stylesheet" href="/CSS/estilos-sectionV1.css">
    <link rel="stylesheet" href="/CSS/estilos-lr.css">
    <link rel="stylesheet" href="/CSS/estilos-boton-s.css">
</head>
<body id="body">
    {{{body}}}

    <script src="/JS/nav.js"></script>
    <script src="/JS/forms-lr.js"></script>
</body>
</html>